
.heading1{
    background-color: gold;
    color:white;
    font-family: Arial, Helvetica, sans-serif; 
    margin-block-start: 30px;
    margin-inline-start: 30px;
    margin-top: 10px;
    
}

.block1{
    background-color: gold;
    margin:0px;
    height:70px;
    border:1px solid gold;
}

body,head{
    margin:0px;
}

.foot1{
    position: absolute;
    bottom: 0;
    width:100%;
    text-align: center;
    border:1px solid red;
}

.main{
    height: 100%;
    width:100%;
    overflow:hidden;
}

.note1{
    margin:26px;
    padding:16px;
    border-radius:7px;
    box-shadow: 0 2px 5px gray;
    float: left;
}